
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make admin</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
  <label for="person">Select a man:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
      <option> th:each="people : ${people}" th:value=${person.getId()}
      th:text="${person.getName()}"</option>
    </select>

  <input type="submit" value="Set admin"/>
</form>

</body>
</html>